@media screen and (min-width: 768px) {
  main {
    width: 100vw;
    margin: 0;
    padding: 0;

    .que-faire {
      margin: 6vh 3vw 2vh;
      color: $maincolor;
      font-weight: bold;
    }
    .get-ticket {
      width: 100vw;
      margin-top: 3vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      .get-ticket-box-shadow {
        box-shadow: 0px 0px 13px -5px white;
      }
      .get-ticket-btn {
        cursor: pointer;
        background-color: $maincolor;
        width: 20vw;
        color: $appearblockcolor;
        font-size: 1.2em;
        font-weight: bold;
        padding: 20px 20px;
        border-radius: 5px 5px 0 0;
        border: none;
      }
      .payment-type {
        height: 5vh;
        width: 20vw;

        border-radius: 0 0 5px 5px;
        background-color: $appearblockcolor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          padding: 10px;
          color: grey;
        }
        p {
          padding: 10px;
          color: white;
          span {
            color: $maincolor;
          }
        }
      }
    }
    .activity-list {
      margin: 0;
      padding: 0px;
      width: 100vw;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .activity-spot {
        width: 22vw;
        height: 50vh;
        margin: 1vw;
        list-style-type: none;
        overflow: hidden;
        .center {
          color: $appearblocktext;
        }
        .out{
          color: $navcolor;
        }
        .activity-infos {
          display: flex;
          flex-direction: column;
          background-color: $appearblockcolor;
          height: 50vh;
          margin: 0;
          a {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            h2,
            p {
              color: white;
            }

            .infos-title {
              padding: 20px;

              display: flex;
              flex-direction: column;

              span {
                font-family: "Museo300-Regular", serif;
                font-weight: lighter;
                line-height: 0.5;
              }
            }
            .image-spot {
              height: 0vw;
              order:-1;
              transition: .2s ease;
            }
            .infos-location {
              display: none;
            }
            .infos-location,
            .infos-subtitle {
              color: $appearblocktext;
            }
            .info-text {
              margin: 0;
              padding: 10px 20px;
            }
            .infos-subtitle {
              margin: 0;
              padding: 10px 20px;
            }
          }
          .spot-btn {
            width: 50%;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            position: relative;
            .like-btn {
              color: white;
              border: none;
              background: none;
            }
            .see-more {
              color: white;
              border: none;
              background: none;
              display: flex;
              &::before {
                content: "";
                display: block;
                background-color: white;

                height: 20px;
                width: 1px;
                margin-right: 20px;
              }
            }
            &::after {
              content: "";
              position: absolute;
              width: 0.25em;
              height: 0.25em;
              border-radius: 50%;
              background: rgb(255, 255, 255);
              bottom: 3vw;
              left: 18vw;
              margin-bottom: -0.5em;
              transform: translateX(-50%);
              filter: drop-shadow(0.5em 0px 0px white)
                drop-shadow(-0.5em 0px 0px white);
            }
          }
        }
      }
      .activity-spot.min {
        width: 22vw;
        height: 50vh;
        margin: 1vw;
        list-style-type: none;
        overflow: hidden;
        .center {
          color: $appearblocktext;
        }
        .out{
          color: $navcolor;
        }
        .activity-infos {
          display: flex;
          flex-direction: column;
          background-color: white;
          margin: 0;
          a {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            h2,
            p {
              color: white;
            }

            .infos-title {
              padding: 20px;
              color: $textcolor;
              display: flex;
              flex-direction: column;

              span {
                font-family: "Museo300-Regular", serif;
                font-weight: lighter;
                line-height: 0.5;
              }
            }
            .image-spot {
              display: block;
              height: 22vw;
              width: 22vw;
              order:-1;
            }
            .infos-location {
              display: block;
              margin: 0;
              padding: 0 20px;
              font-weight: lighter;
              color: $maincolor;
            }
            .info-text {
              display: none;
            }
            .infos-subtitle {
              display: none;
            }
          }
          .spot-btn {
            width: 50%;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            position: relative;
            .like-btn {
              color: white;
              border: none;
              background: none;
            }
            .see-more {
              color: white;
              border: none;
              background: none;
              display: flex;
              &::before {
                content: "";
                display: block;
                background-color: white;

                height: 20px;
                width: 1px;
                margin-right: 20px;
              }
            }
            &::after {
              content: "";
              position: absolute;
              width: 0.25em;
              height: 0.25em;
              border-radius: 50%;
              background: grey;
              bottom: 12vw;
              left: 20vw;
              margin-bottom: -0.5em;
              transform: translateX(-50%);
              filter: drop-shadow(0px 0.5em 0px grey)
                drop-shadow(0px -0.5em 0px grey);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  main {
    width: 100vw;
    margin: 0;
    padding: 0;

    .que-faire {
      text-align: center;
      color: $maincolor;
      font-weight: bold;
    }
    .center {
      color: $appearblocktext;
    }
    .out{
      color: $navcolor;
    }
    .activity-list {
      margin: 0;
      padding: 0px;
      width: 90vw;
      .activity-spot {
        width: 90vw;
        margin: 5vw;
        list-style-type: none;
        .activity-infos {
          background-color: $appearblockcolor;
          padding: 20px;
          margin: 0;
          a {
            text-decoration: none;
            h2,
            p {
              color: white;
            }
            .infos-title {
              display: flex;
              flex-direction: column;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                width: 0.25em;
                height: 0.25em;
                border-radius: 50%;
                background: white;
                bottom: 0;
                left: 90%;
                margin-bottom: -0.5em;
                transform: translateX(-50%);
                filter: drop-shadow(0.5em 0px 0px) drop-shadow(-0.5em 0px 0px);
              }
              span {
                font-family: "Museo300-Regular", serif;
                font-weight: lighter;
                line-height: 0.5;
              }
            }
            .image-spot {
              height: 80vw;
              width: 80vw;
              transition: .5s ease;
            }
            .infos-location {
              font-weight: lighter;
            }
            
            img {
              width: 80vw;
              height: auto;
            }
          }
          .spot-btn {
            width: 80%;
            display: flex;
            justify-content: space-between;
            .like-btn {
              outline: none;
              color: white;
              border: none;
              background: none;
            }
            .see-more {
              color: white;
              border: none;
              background: none;
              display: flex;
              &::before {
                content: "";
                display: block;
                background-color: white;

                height: 20px;
                width: 1px;
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
    .activity-spot.min {
      .activity-infos {
        background-color: rgb(241, 241, 241);
        .infos-title {
          color: $textcolor;
          &::after {
            content: "";
            position: absolute;
            width: 0.25em;
            height: 0.25em;
            border-radius: 50%;
            background-color: grey;
            bottom: 0;
            left: 90%;
            margin-bottom: -0.5em;
            transform: translateX(-50%);
            filter: drop-shadow(0.5em 0px 0px grey)
              drop-shadow(-0.5em 0px 0px grey);
          }
        }
        .infos-location {
          color: $maincolor !important;
        }
        .image-spot{
          height:0vh !important;
        }
        .infos-subtitle,
        .info-text, .spot-btn {
          display: none;
        }
      }
    }
    .get-ticket {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      .get-ticket-box-shadow {
        box-shadow: 0px 0px 13px -5px white;
      }
      .get-ticket-btn {
        background-color: $maincolor;
        width: 55vw;
        color: $appearblockcolor;
        font-size: 1.2em;
        font-weight: bold;
        padding: 20px 20px;
        border-radius: 5px 5px 0 0;
        border: none;
      }
      .payment-type {
        height: 30px;
        width: 50vw;
        padding: 10px;
        border-radius: 0 0 5px 5px;
        background-color: $appearblockcolor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          color: grey;
        }
        p {
          color: white;
          span {
            color: $maincolor;
          }
        }
      }
    }
  }
}
