$maincolor: #00d8ff;
$textcolor: #737b80;
$navcolor: #f297b1;
$headertext: #d6d6d6;
$appearblocktext: #d4ce9a;
$appearblocktitle: #f899b4;
$appearblockcolor: #2d3a42;
$appeartext: #284e68;

@font-face {
  font-family: "Montserrat";
  src: url("../content/fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Museo300-Regular";
  src: url("../content/fonts/museo/Museo300-Regular.otf");
}
@font-face {
  font-family: "Marven";
  src: url("../content/fonts/maven-pro/MavenPro-Medium.ttf");
}

body {
  font-family: "Montserrat", Arial;
  margin: 0;
  padding: 0;
  width: 100vw;

  header {
    h1 {
      margin: 0px;
    }
    .invisible {
      display: none;
    }
    .logo-kazan {
      width: 50vw;
      margin: 30px;
      margin-top: 10px;
      height: auto;
      position: fixed;
      z-index: 1;
    }
    .burger-menu {
      position: fixed;
      top: 20px;
      left: 70vw;
      height: 20vh;
      width: 20vw;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      span {
        display: block;
        width: 40px;
        height: 5px;
        margin-top: 10px;
        background-color: $maincolor;
      }
      .span-top {
        width: 35px;
      }
      .span-bottom {
        width: 20px;
      }
    }
    .header-menu-none {
      transform: translateX(100vw);
      display: none;
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      background-color: $maincolor;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      .search-container {
        align-self: flex-start;
        position: fixed;
        width: 60vw;
        top: 65vh;
        .search-form {
          .search-input {
            background-color: $maincolor;
            color: $appearblockcolor;
            border: none;
            background: none;
          }
          .search-btn {
            background: none;
            border: none;
            color: $appearblockcolor;
            font-size: 1.5em;
          }
        }
      }
      .header-menu-ul {
        padding: 0;
        margin: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .header-menu-li {
          list-style-type: none;
          margin-top: 1vh;
          a {
            text-decoration: none;
            font-size: 2em;
            font-weight: bold;
            color: $appearblockcolor;
          }
        }
      }
    }
    .header-menu {
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      background-color: $maincolor;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      .search-container {
        align-self: flex-start;
        position: fixed;
        width: 60vw;
        top: 65vh;
        .search-form {
          .search-input {
            background-color: $maincolor;
            color: $appearblockcolor;
            border: none;
            background: none;
          }
          .search-btn {
            background: none;
            border: none;
            color: $appearblockcolor;
            font-size: 1.5em;
          }
        }
      }
      .header-menu-ul {
        padding: 0;
        margin: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .header-menu-li {
          list-style-type: none;
          margin-top: 1vh;
          a {
            text-decoration: none;
            font-size: 2em;
            font-weight: bold;
            color: $appearblockcolor;
          }
        }
      }
    }
    .header-infos {
      height: 100vh;
      background-image: linear-gradient(#04444d91, #1f02559d),
        url(/content/images/header.jpg);
      background-size: auto, auto 50vh;
      background-repeat: no-repeat;
      background-position-x: 85%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .image-header {
        width: auto;
        height: 50vh;
        top: 0;
      }
      .header-title {
        margin-top: 50vh;
        color: $maincolor;
        font-size: 4em;
        font-weight: lighter;
      }
      .header-subtitle {
        color: $maincolor;
        margin-top: 0;
        font-size: 2em;
        font-weight: lighter;
      }
      .header-hat {
        display: none;
      }
      .schedule {
        margin: 10px;
        margin-top: 30px;
        padding: 20px 60px;
        background-color: $maincolor;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-radius: 50px;
        color: white;
        box-shadow: 0px 0px 13px -2px rgb(63, 63, 63);
      }
    }
  }
  main {
    width: 100vw;
    margin: 0;
    padding: 0;
    .que-faire {
      text-align: center;
      color: $maincolor;
      font-weight: bold;
    }
    .activity-list {
      margin: 0;
      padding: 0px;
      width: 90vw;
      .activity-spot {
        width: 90vw;
        margin: 5vw;
        list-style-type: none;
        .activity-infos {
          background-color: $appearblockcolor;
          padding: 20px;
          a {
            text-decoration: none;
            h2,
            p {
              color: white;
            }
            .infos-title {
              display: flex;
              flex-direction: column;
              span {
                font-family: "Museo300-Regular", serif;
                font-weight: lighter;
                line-height: 0.5;
              }
            }
            .image-spot {
              height: 100%;
              width: 100%;
            }
            .infos-location {
              font-weight: lighter;
            }
            .infos-location,
            .infos-subtitle {
              color: $appearblocktext;
            }
            img {
              width: 80vw;
              height: auto;
            }
          }
          .like-btn {
            color: white;
            border: none;
            background: none;
          }
          .see-more {
            color: white;
            border: none;
            background: none;
          }
        }
      }
    }
    .get-ticket {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;

      .get-ticket-btn {
        background-color: $maincolor;
        width: 55vw;
        color: $appearblockcolor;
        font-size: 1.2em;
        font-weight: bold;
        padding: 20px 20px;
        border-radius: 5px 5px 0 0;
        border: none;
      }
      .payment-type {
        height: 30px;
        width: 50vw;
        padding: 10px;
        border-radius: 0 0 5px 5px;
        background-color: $appearblockcolor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          color: grey;
        }
        p {
          color: white;
          span {
            color: $maincolor;
          }
        }
      }
    }
  }
  footer {
    width: 100vw;
    margin-top: 10vh;
    background-image: linear-gradient(#04444d91, #1f02559d),
      url(/content/images/brent-cox-mid.jpg);
    background-size: auto, auto 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    .footer-section {
      color: white;
      width: 80vw;
      margin-top: 10vh;
      .footer-head {
        display: flex;
        align-items: center;

        .pin-location-logo {
          height: 1.5em;
          width: auto;
          padding-right: 4vw;
        }
      }
      .kazan-night {
        display: none;
        width: 50vw;
      }
      .logo-partner {
        margin: 5vw;
        margin-bottom: 5vh;
        width: 30vw;
      }
      .rs {
        background-color: white;
        padding: 5vw;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .follow-us {
          color: $maincolor;
          font-size: 1.2rem;
          padding: 1vh;
          margin: 0;
          display: flex;
          justify-content: space-between;
        }
        .rs-links {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 10px 0px 10px;
          color: $appearblockcolor;
        }
      }
    }
  }
}
