@font-face {
  font-family: "Montserrat";
  src: url("/content/fonts/Montserrat/Montserrat-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Museo";
  src: url("/content/fonts/museo/Museo300-Regular.otf") format("otf");
}

@font-face {
  font-family: "Marven";
  src: url("/content/fonts/maven-pro/MavenPro-Medium.ttf") format("ttf");
}

body {
  font-family: "Montserrat", Arial;
  margin: 0;
}

body header h1 {
  margin: 0px;
}

body header .invisible {
  display: none;
}

body header .logo-kazan {
  width: 50vw;
  margin: 30px;
  margin-top: 10px;
  height: auto;
  position: fixed;
  z-index: 1;
}

body header .burger-menu {
  position: fixed;
  top: 20px;
  left: 70vw;
  height: 20vh;
  width: 20vw;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body header .burger-menu span {
  display: block;
  width: 40px;
  height: 5px;
  margin-top: 10px;
  background-color: #d6d6d6;
}

body header .burger-menu .span-top {
  width: 30px;
}

body header .burger-menu .span-bottom {
  width: 20px;
}

body header .header-menu-none {
  display: none;
}

body header .header-menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #00d8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header .header-menu .search-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: fixed;
  width: 60vw;
  top: 65vh;
}

body header .header-menu .search-container .search-form .search-input {
  background-color: #00d8ff;
  color: #2d3a42;
  border: none;
  background: none;
}

body header .header-menu .search-container .search-form .search-btn {
  background: none;
  border: none;
  color: #2d3a42;
  font-size: 1.5em;
}

body header .header-menu .header-menu-ul {
  padding: 0;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body header .header-menu .header-menu-ul .header-menu-li {
  list-style-type: none;
  margin-top: 1vh;
}

body header .header-menu .header-menu-ul .header-menu-li a {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #2d3a42;
}

body header .header-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-infos .image-header {
  width: 100vw;
  height: auto;
  top: 0;
}

body header .header-infos .header-title {
  color: #00d8ff;
  font-size: 4em;
  font-weight: lighter;
}

body header .header-infos .header-subtitle {
  color: #00d8ff;
  font-size: 2em;
  font-weight: lighter;
}

body header .header-infos .header-hat {
  display: none;
}

body header .header-infos .schedule {
  margin: 10px;
  padding: 10px 50px;
  background-color: #00d8ff;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 13px -2px #3f3f3f;
          box-shadow: 0px 0px 13px -2px #3f3f3f;
}

body main {
  background-color: #ebebff;
}

body main ul {
  margin: 0;
  padding: 0px;
}

body main ul li {
  list-style-type: none;
}

body main ul li img {
  width: 100vw;
  height: auto;
}

body main ul li a {
  text-decoration: none;
}

body footer img {
  width: 100vw;
}
/*# sourceMappingURL=style.css.map */